name: Compile SA-MP Gamemode

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Download Pawn Compiler
      run: |
        wget https://github.com/pawn-lang/compiler/releases/download/v3.10.10/pawnc-3.10.10-linux.tar.gz
        tar -xzf pawnc-3.10.10-linux.tar.gz

    - name: Download SA-MP Includes
      run: |
        wget https://archive.org/download/samp037svr/samp037svr.tar.gz
        tar -xzf samp037svr.tar.gz

    - name: Compile Gamemode
      run: |
        ./pawnc-3.10.10-linux/bin/pawncc gm_mobile.pwn -i./samp037svr/include

    - name: Upload AMX
      uses: actions/upload-artifact@v4
      with:
        name: gm_mobile-amx
        path: gm_mobile.amx
